
header {
    padding: 8px 0 8px 0;
    background-color: #000000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
}


button {
    background-color: #FF0939;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#logo-container{
    display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        justify-content: center;
}

.logo {
    margin: 20px 0px;
    filter: drop-shadow(-1px 0 3px rgba(255, 255, 255, 0.9));
    



}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 9;
}


.hamburger {
    display: block;
    cursor: pointer;
    z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.bar {
    // display: block;
    // width: 25px;
    // height: 3px;
    // margin: 5px auto;
    // -webkit-transition: all 0.3s ease-in-out;
    // transition: all 0.3s ease-in-out;
    // background-color: rgb(255, 255, 255);

    border-radius: 5px;
    display: block;
    width: 6vh;
    height: 4px;
    margin: 8px auto;
    transition: all .3s ease-in-out;
    background-color: #fff;
}



.nav-menu {
    position: absolute;
    left: -100%;
    top: 0px;
    gap:0;
    flex-direction: column;
    width: 100%;
    padding: 1vh;
    text-align: center;
    transition: 0.3s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 8;
}

.nav-menu ul {
    padding: 40px;
    list-style-type: none;
}

.nav-item {
    border-radius: 30px;
    padding: 20px;
    width: 100%;
}

.nav-item a {
    display: block;
    padding: 20px 0px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

.nav-item a:hover {
    background: linear-gradient(135deg, #5a5a5a, #1a1b1c, #0e0e0e, #393939, #000000);


    color: white;
    cursor: pointer;
}


.nav-menu.active {
    left: 0;
}

.nav-link {
    transition: 0.7s ease;
    background-color: white; 
    text-align: center;
}



@media screen and (min-width: 768px) {
 

    // Header Styling Header Styling Header Styling


       .hamburger {
        display: none;
    }


    header {

        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        
    }
    #logo-container-M{
        display: none;
    }

    #logo-container{
        border-bottom: none;
    }

    
    .navbar {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0 0px;
    }
    
    .nav-menu {
        position: relative;
        left: 0;
        display: flex;
        background: transparent; 
        flex-direction: row;
        align-items: center;
        backdrop-filter: none;
        justify-content: space-between;
    }
    
    .nav-menu ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    
    .nav-item {
        border-radius: 30px;
        padding: 0 0 0 4em ;

    }
    
    .nav-item a {
        display: block;
        padding: 20px 0px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        background-color: transparent;
        /* align-items: center; */
    }
    
    .nav-item a:hover {
        background: transparent;
        color: rgb(255, 255, 255);
        transform: scale(1.2);
        cursor: pointer;
    }

    #logo {
        width: 120px;
    }

    
}



@media screen and (min-width: 1200px) {
 
    .hamburger {
        display: none;
    }

 

    header{
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}
    
